<header>
  <div class="logo">Mess Manager</div>
  <div class="hamburger" (click)="toggleNavbar()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <nav class="nav-bar" [class.active]="isNavbarActive">
    <ul>
      <li>
        <a href="" class="active">Home</a>
      </li>
      <li>
        <a routerLink="meals">Meals</a>
      </li>
      <li>
        <a routerLink="expense">Expense</a>
      </li>
      <li>
        <a routerLink="report">Report</a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>


